.body {
    background-color: black;
    color: white;
}

#questions-container {
    width:800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: black;

}

.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
}

.btn {
    border: 1px solid; 
    border-radius: 5px;
    padding: 5px, 10px;
    color: black;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

.hide {
    display: none;
}