.body {
    background-color: black;
    color: white;
}

:root {
    --hue-neutral: 2001;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.body.correct {
    --hue: var(--hue-correct);
}

.body.wrong {
    --hue: var(--hue-wrong);
}

#questions-container {
    width:800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: black;

}

.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid; 
    border-radius: 5px;
    padding: 5px, 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-correct);
}

.hide {
    display: none;
}